@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html{
  color-scheme: dark;
}

body{

  background-color: #0c0d11;
  overflow-x: hidden;
  color: #fff;
}

.bgImg{
  background-image: url("../public/banner-bg.png");
  background-size: cover;
  background-attachment: fixed;
}